<div>
    <p>Click the button to receive the list of books!</p>
</div>
<div id="book-table">
    <!-- empty div to put the table after ajax -->
</div>
<div>
    <button id="get_list_btn" class="btn btn-primary">Get List</button>
</div>
